rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /payment_proofs/{allPaths=**} {
      // Allow anybody to upload payment proofs to ensure guest checkout works.
      // In production, you might want to add size or MIME type restrictions here.
      allow read: if request.auth != null;
      allow write: if true;
    }
  }
}
